<form class="white-container span4 offset4" id="loginForm" method="post" action="/api/auth">
  <input type="hidden" name="_method" value="post">
  <div class="control-group" id="identifier">
    <input type="email" placeholder="E-mail" name="identifier" class="span4" required />
  </div>
  <div class="control-group" id="password">
    <input type="password" placeholder="Password" name="secret" class="span4" required />
  </div>
  <button type="submit" class="btn" id="loginButton" name="login" value="login">Login</button>
</form>
