<h1 id="projectName"><%= project.get('name') %></h1>

<section class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <form id="addName" class="addName-form">
            <div class="input-group">
              <input id="newName" name="newName" type="text" class="form-control" placeholder="Add name" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus-sign"></span></button>
              </span>
            </div>
          </form>
        </th>
        <% _.each(project.get('tlds'), function(tld) { %>
          <th class="nameTable-name">.<%= tld %></th>
        <% }) %>
        <th>
          <form id="addTld" class="addTld-form">
            <div class="input-group">
              <input id="newTld" name="newTld" ype="text" class="form-control" placeholder="Add TLD" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus-sign"></span></button>
              </span>
            </div>
          </form>
        </th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</section>
